@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"); /* Using a url */

* {
  box-sizing: border-box;
}
#surveyForm {
  position: relative;
  margin-bottom: 0;
}
.form-field {
  position: relative;
}
textarea {
  font-family: inherit;
}
.buttons-section {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.buttons-container {
  float: right;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  position: relative;
  /* transition: all 5s ease-in-out; */
}

.popup .close {
  position: absolute;
  top: 0;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

/* styles for form from w3c */

/* Mark input boxes that gets an error on validation: */
input:not([type="radio"]):not([type="checkbox"]) {
  margin-bottom: 24px;
}
/* input["type"="checkbox"] {

} */
.invalid.invalid {
  background-color: #f8d7da !important;
}



/* Make circles that indicate the steps of the form: */
.steps-container {
  text-align: center;
  margin-top: 25px;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  /* background-color: grey; */
}

.message-error {
  background:#f8d7da;
  position: absolute;
  margin-bottom: 0;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
  border-radius: 2px; 
}
td {
  padding: 5px 15px;
}
/* Hide all steps by default: */
.tab {
 transition: .5s;
 opacity: 0;
 position: absolute;
 width: 100%;
 visibility: hidden;
 top: 0;

}
.tab-active {
  opacity: 1;
  position: relative;
  visibility: visible;


}
.tabs-container {
 position: relative;
}

select {
  margin-bottom: 2.2rem;
}
textarea {
  resize: none;
}
.about-author {
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
}