@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

/* variables */
:root {
  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-large: 20px;
  --border-radius-small: 5px;
  --border-radius-xsmall: 2px;
  --popup-margin: 70px;
  --popup-width: 35%;
  --transition-time: .3s;
  --popup-index: 9999;
  --font-size-small: 12px;
  --font-size-large: 30px;
  --step-indicator-size: 15px;
  --error-color: #f8d7da;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: var(--font-size-large);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity var(--transition-time);
  visibility: hidden;
  opacity: 0;
  z-index: var(--popup-index);
}

.popup {
  margin: var(--popup-margin) auto;
  padding: var(--spacing-large);
  background: white;
  border-radius: var(--border-radius-small);
  width: var(--popup-width);
  position: relative;

}

.popup .close {
  position: absolute;
  z-index: var(--popup-index);
  top: var(--spacing-small);
  right: var(--spacing-large);
  transition: var(--transition-time);
  font-size: var(--font-size-large);
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

.popup .close:hover {
  color: #33C3F0;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}
#surveyForm {
  position: relative;
  margin-bottom: 0;
}

.form-field {
  position: relative;
}

input:not([type="radio"]):not([type="checkbox"]) {
  margin-bottom: var(--spacing-large);
}

select {
  margin-bottom: var(--spacing-large);
}

textarea {
  font-family: inherit;
  resize: none;
}

.invalid.invalid {
  background-color: var(--error-color) !important;
}

/* validating inputs */
.message-error {
  background:var(--error-color);
  position: absolute;
  margin-bottom: 0;
  font-size: var(--font-size-small);
  bottom: 0;
  width: 100%;
  padding-left: var(--spacing-small);
  border-radius: var(--border-radius-xsmall); 
}

/* Hide all steps by default: */
.tab {
 transition: var(--transition-time);
 opacity: 0;
 position: absolute;
 width: 100%;
 visibility: hidden;
 top: 0;

}
.tab-active {
  opacity: 1;
  position: relative;
  visibility: visible;
}

.tabs-container {
 position: relative;
}

/* steps indicators */
.steps-container {
  text-align: center;
  margin-top: var(--spacing-large);
}

.step {
  height: var(--step-indicator-size);
  width: var(--step-indicator-size);
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.buttons-section {
  display: table;
  width: 100%;
  margin-top: var(--spacing-small);
}

.buttons-container {
  float: right;
}

td {
  padding: var(--spacing-xsmall) var(--spacing-large);

}

.about-author {
  text-align: center;
  text-decoration: underline;
  font-size: var(--font-size-small);
}




